.quickorder .button {
    background-color: #e30613;
    color: #FFFFFF;
    display: block;
    padding: 13px 21px;
    text-align: center;
    text-transform: none;
    white-space: nowrap;
    border-radius: 0px;
    margin-top: 50px;
    width: 150px
}

.quickorder .button-remove{
    background-color: #999999;
    margin-top: 0px;
    color: #FFFFFF;
    text-align: center;
    text-transform: none;
    white-space: nowrap;
    border-radius: 0px;
    width: 100px
}

.quickorder h2 {
    margin-bottom: 25px;
}

.quickorder input {
    margin: 6px 10px 10px 5px;
    border-radius: 0px;
    padding: 8px 10px;
    text-align: left;
    width: 222px;
}

.quickorder .input-sku {
    width: 122px;
}

.quickorder .input-qty {
    width: 22px;
}

.quickorder-search-autocomplete { z-index:999; }
.quickorder-search-autocomplete ul { border:1px solid #5c7989; background-color:#f9f5f0; }
.quickorder-search-autocomplete li { text-align:left; border-bottom:1px solid #f4eee7; padding:2px 8px 1px 8px; cursor:pointer; }
.quickorder-search-autocomplete li .amount { float:right; font-weight:bold; }
.quickorder-search-autocomplete li.odd { background-color:#fffefb; }
.quickorder-search-autocomplete li.selected { background-color:#f7e8dd; }

.extra_delivery_quick_order {
    padding: 10px;
    display: table;
}

.extra_delivery_quick_order span {
    font-size: 10px;
    padding: 2px;
    float: left;
}

.extra_delivery_quick_order span a {
    font-weight: bold;
}

.extra_delivery_quick_order input {
    margin: 3px;
    width: 15px;
    float: left;
}