<?xml version="1.0"?>
<config>
    <modules>
        <Edge_QuickOrder>
            <version>1.0.0</version>
        </Edge_QuickOrder>
    </modules>
    <global>
        <helpers>
            <edgequickorder>
                <class>Edge_QuickOrder_Helper</class>
            </edgequickorder>
        </helpers>
        <blocks>
            <edgequickorder>
                <class>Edge_QuickOrder_Block</class>
            </edgequickorder>
        </blocks>
    </global>
    <frontend>
        <routers>
            <edgequickorder>
                <use>standard</use>
                <args>
                    <module>Edge_QuickOrder</module>
                    <frontName>edgequickorder</frontName>
                </args>
            </edgequickorder>
        </routers>
        <layout>
            <updates>
                <edgequickorder>
                    <file>edge/quickorder.xml</file>
                </edgequickorder>
            </updates>
        </layout>
    </frontend>
</config>